<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lottie-web"></script>
    <style>
        *{
            background-color: black;
        }
        #lottie{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30vw;
            height: 30vw;
            max-width: 300px;
            max-height: 300px;

        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="lottie"></div>

    <script>
        lottie.loadAnimation({
            container: document.getElementById('lottie'),
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: 'static/gacha.json'
        })
    </script>
</body>
</html>