<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Draw</title>
  <style>
    body { margin: 0; background: #111; overflow: hidden; }
    #result {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 2em;
      font-family: serif;
      opacity: 0;
      transition: opacity 1s;
    }
  </style>
</head>
<body>
  <div id="result">You pulled: ★ SSR ★</div>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
