<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="pw" type="password"><button onclick="login()">로그인</button>
<script>
function login() {
    if(!localStorage.getItem("jwt")){
        fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ password: document.getElementById("pw").value })
        })
        .then(r => r.json())
        .then(r => {
        if (r.token) localStorage.setItem("jwt", r.token);
        });
    }
    else{
        console.log("이미 토큰이 있는 것을 확인하였습니다")
        localStorage.removeItem("jwt");
    }
}
</script>
<script>
    const q = new URLSearchParams(location.search);
    const token = localStorage.getItem("jwt");
    
    if (token)
      fetch("/localact", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + token
        },
        body: JSON.stringify({ user_id: q.get("user_id"), act: q.get("act") })
      });
    else alert("❌ 운영자 인증이 필요합니다.");
    </script>
</body>
</html>