<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const q = new URLSearchParams(location.search);
        const token = localStorage.getItem("jwt");
        
        if (token)
          fetch("/localact", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "Authorization": "Bearer " + token
            },
            body: JSON.stringify({ user_id: q.get("user_id"), act: q.get("index") })
          })
          .then(r => r.json())
          .then(r =>{
            if(r.success)
            document.body.innerHTML = "<h2>✅ 인증 완료</h2>"
            else
            alert("❌ 인증 실패.");
          });
        else alert("❌ 운영자 인증이 필요합니다.");
        </script>
</body>
</html>